# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
# messages.po needs to be generated, see README.md
*.mo
*.pot
**/messages.po

# Individual log files
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

test.db

# Environments
.venv/

# Invenio-cli per machine file
.invenio.private
celerybeat-schedule

# S3 default bucket location
data/default/*
data/.minio.sys

# Celery
celerybeat-schedule.*

.idea/

# Internal files
.env
.aws/
payload
*.patch
s3_downloads/
tmp/

# Node modules
node_modules/
site/mex_invenio/node_modules

# package-locks
package-lock.json
site/mex_invenio/package-lock.json

# Translation backup files
translations/**/*.backup
# Generated translation files
translations/**/*.mo
translations/**/messages.po
site/mex_invenio/assets/semantic-ui/js/mex_invenio/locales/en/translations.json
site/mex_invenio/assets/semantic-ui/js/mex_invenio/locales/de/translations.json
