{% set field_types = {
    "variable": {
        "mex:belongsTo": "identifier",
        "mex:codingSystem": "string",
        "mex:dataType": "string",
        "mex:description": "text",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:label": "text",
        "mex:stableTargetId": "unknown",
        "mex:usedIn": "identifier",
        "mex:valueSet": "string"
    },
    "bibliographicresource": {
        "mex:abstract": "text",
        "mex:accessRestriction": "label",
        "mex:alternateIdentifier": "string",
        "mex:alternativeTitle": "text",
        "mex:bibliographicResourceType": "label",
        "mex:contributingUnit": "identifier",
        "mex:creator": "identifier",
        "mex:distribution": "identifier",
        "mex:doi": "string",
        "mex:edition": "string",
        "mex:editor": "identifier",
        "mex:editorOfSeries": "identifier",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:isbnIssn": "string",
        "mex:issue": "string",
        "mex:issued": "date",
        "mex:journal": "text",
        "mex:keyword": "text",
        "mex:language": "label",
        "mex:license": "label",
        "mex:pages": "string",
        "mex:publicationPlace": "string",
        "mex:publicationYear": "string",
        "mex:publisher": "identifier",
        "mex:repositoryURL": "url",
        "mex:section": "string",
        "mex:stableTargetId": "unknown",
        "mex:subtitle": "text",
        "mex:title": "text",
        "mex:titleOfBook": "text",
        "mex:titleOfSeries": "text",
        "mex:volume": "string",
        "mex:volumeOfSeries": "string"
    },
    "variablegroup": {
        "mex:containedBy": "identifier",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:label": "text",
        "mex:stableTargetId": "unknown"
    },
    "contactpoint": {
        "mex:email": "string",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:stableTargetId": "unknown"
    },
    "organization": {
        "mex:alternativeName": "text",
        "mex:geprisId": "string",
        "mex:gndId": "string",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:isniId": "string",
        "mex:officialName": "text",
        "mex:rorId": "string",
        "mex:shortName": "text",
        "mex:stableTargetId": "unknown",
        "mex:viafId": "string",
        "mex:wikidataId": "string"
    },
    "concept": {
        "mex:altLabel": "text",
        "mex:broader": "label",
        "mex:definition": "text",
        "mex:exactMatch": "string",
        "mex:identifier": "string",
        "mex:inScheme": "identifier",
        "mex:notation": "string",
        "mex:note": "text",
        "mex:prefLabel": "text"
    },
    "organizationalunit": {
        "mex:alternativeName": "text",
        "mex:email": "string",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:name": "text",
        "mex:parentUnit": "identifier",
        "mex:shortName": "text",
        "mex:stableTargetId": "unknown",
        "mex:unitOf": "identifier",
        "mex:website": "url"
    },
    "consent": {
        "mex:hadPrimarySource": "identifier",
        "mex:hasConsentStatus": "label",
        "mex:hasConsentType": "label",
        "mex:hasDataSubject": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:isIndicatedAtTime": "string",
        "mex:stableTargetId": "unknown"
    },
    "resource": {
        "mex:accessPlatform": "identifier",
        "mex:accessRestriction": "label",
        "mex:accrualPeriodicity": "label",
        "mex:alternativeTitle": "text",
        "mex:anonymizationPseudonymization": "label",
        "mex:conformsTo": "string",
        "mex:contact": "identifier",
        "mex:contributingUnit": "identifier",
        "mex:contributor": "identifier",
        "mex:created": "date",
        "mex:creator": "identifier",
        "mex:description": "text",
        "mex:distribution": "identifier",
        "mex:documentation": "url",
        "mex:doi": "string",
        "mex:externalPartner": "identifier",
        "mex:hadPrimarySource": "identifier",
        "mex:hasLegalBasis": "text",
        "mex:hasPersonalData": "label",
        "mex:icd10code": "string",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:instrumentToolOrApparatus": "text",
        "mex:isPartOf": "identifier",
        "mex:keyword": "text",
        "mex:language": "label",
        "mex:license": "label",
        "mex:loincId": "string",
        "mex:maxTypicalAge": "integer",
        "mex:meshId": "string",
        "mex:method": "text",
        "mex:methodDescription": "text",
        "mex:minTypicalAge": "integer",
        "mex:modified": "date",
        "mex:populationCoverage": "text",
        "mex:publication": "identifier",
        "mex:publisher": "identifier",
        "mex:qualityInformation": "text",
        "mex:resourceCreationMethod": "label",
        "mex:resourceTypeGeneral": "label",
        "mex:resourceTypeSpecific": "text",
        "mex:rights": "text",
        "mex:sizeOfDataBasis": "string",
        "mex:spatial": "text",
        "mex:stableTargetId": "unknown",
        "mex:stateOfDataProcessing": "label",
        "mex:temporal": "date",
        "mex:theme": "label",
        "mex:title": "text",
        "mex:unitInCharge": "identifier",
        "mex:wasGeneratedBy": "identifier"
    },
    "distribution": {
        "mex:accessRestriction": "label",
        "mex:accessService": "identifier",
        "mex:accessURL": "url",
        "mex:downloadURL": "url",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:issued": "date",
        "mex:license": "label",
        "mex:mediaType": "label",
        "mex:modified": "date",
        "mex:stableTargetId": "unknown",
        "mex:title": "text"
    },
    "accessplatform": {
        "mex:alternativeTitle": "text",
        "mex:contact": "identifier",
        "mex:description": "text",
        "mex:endpointDescription": "url",
        "mex:endpointType": "label",
        "mex:endpointURL": "url",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:landingPage": "url",
        "mex:stableTargetId": "unknown",
        "mex:technicalAccessibility": "label",
        "mex:title": "text",
        "mex:unitInCharge": "identifier"
    },
    "person": {
        "mex:affiliation": "identifier",
        "mex:email": "string",
        "mex:familyName": "string",
        "mex:fullName": "string",
        "mex:givenName": "string",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:isniId": "string",
        "mex:memberOf": "identifier",
        "mex:orcidId": "string",
        "mex:stableTargetId": "unknown"
    },
    "activity": {
        "mex:abstract": "text",
        "mex:activityType": "label",
        "mex:alternativeTitle": "text",
        "mex:contact": "identifier",
        "mex:documentation": "url",
        "mex:end": "unknown",
        "mex:externalAssociate": "identifier",
        "mex:funderOrCommissioner": "identifier",
        "mex:fundingProgram": "string",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:involvedPerson": "identifier",
        "mex:involvedUnit": "identifier",
        "mex:isPartOfActivity": "identifier",
        "mex:publication": "identifier",
        "mex:responsibleUnit": "identifier",
        "mex:shortName": "text",
        "mex:stableTargetId": "unknown",
        "mex:start": "unknown",
        "mex:succeeds": "identifier",
        "mex:theme": "label",
        "mex:title": "text",
        "mex:website": "url"
    },
    "conceptscheme": {
        "mex:description": "text",
        "mex:identifier": "string",
        "mex:label": "text"
    },
    "primarysource": {
        "mex:alternativeTitle": "text",
        "mex:contact": "identifier",
        "mex:description": "text",
        "mex:documentation": "url",
        "mex:hadPrimarySource": "identifier",
        "mex:identifier": "unknown",
        "mex:identifierInPrimarySource": "string",
        "mex:locatedAt": "url",
        "mex:stableTargetId": "unknown",
        "mex:title": "text",
        "mex:unitInCharge": "identifier",
        "mex:version": "string"
    }
} %}