{% set pref_labels = {
    "https://mex.rki.de/item/language-1": {
        "de": "Deutsch",
        "en": "German"
    },
    "https://mex.rki.de/item/language-2": {
        "de": "Englisch",
        "en": "English"
    },
    "https://mex.rki.de/item/language-3": {
        "de": "Franz\u00f6sisch",
        "en": "French"
    },
    "https://mex.rki.de/item/consent-type-1": {
        "de": "Implizierte Einwilligung",
        "en": "Implied Consent"
    },
    "https://mex.rki.de/item/consent-type-2": {
        "de": "Ausdr\u00fcckliche Einwilligung",
        "en": "Expressed Consent"
    },
    "https://mex.rki.de/item/mime-type-1": {
        "de": "docx",
        "en": "docx"
    },
    "https://mex.rki.de/item/mime-type-2": {
        "de": "xlsx",
        "en": "xlsx"
    },
    "https://mex.rki.de/item/mime-type-3": {
        "de": "pptx",
        "en": "pptx"
    },
    "https://mex.rki.de/item/mime-type-4": {
        "de": "pdf",
        "en": "pdf"
    },
    "https://mex.rki.de/item/mime-type-5": {
        "de": "tiff",
        "en": "tiff"
    },
    "https://mex.rki.de/item/mime-type-6": {
        "de": "mhtml",
        "en": "mhtml"
    },
    "https://mex.rki.de/item/mime-type-7": {
        "de": "csv",
        "en": "csv"
    },
    "https://mex.rki.de/item/mime-type-8": {
        "de": "xml",
        "en": "xml"
    },
    "https://mex.rki.de/item/mime-type-9": {
        "de": "atom",
        "en": "atom"
    },
    "https://mex.rki.de/item/mime-type-10": {
        "de": "sas",
        "en": "sas"
    },
    "https://mex.rki.de/item/mime-type-11": {
        "de": "stata",
        "en": "stata"
    },
    "https://mex.rki.de/item/mime-type-12": {
        "de": "FASTQ",
        "en": "FASTQ"
    },
    "https://mex.rki.de/item/mime-type-13": {
        "de": "tsv",
        "en": "tsv"
    },
    "https://mex.rki.de/item/mime-type-14": {
        "de": "ppt",
        "en": "ppt"
    },
    "https://mex.rki.de/item/mime-type-15": {
        "de": "xls",
        "en": "xls"
    },
    "https://mex.rki.de/item/mime-type-16": {
        "de": "zip",
        "en": "zip"
    },
    "https://mex.rki.de/item/mime-type-17": {
        "de": "tar.gz",
        "en": "tar.gz"
    },
    "https://mex.rki.de/item/mime-type-18": {
        "de": "html",
        "en": "html"
    },
    "https://mex.rki.de/item/mime-type-19": {
        "de": "json",
        "en": "json"
    },
    "https://mex.rki.de/item/access-restriction-1": {
        "de": "offen",
        "en": "open"
    },
    "https://mex.rki.de/item/access-restriction-2": {
        "de": "restriktiv",
        "en": "restricted"
    },
    "https://mex.rki.de/item/resource-type-general-2": {
        "de": "Proben",
        "en": "Samples"
    },
    "https://mex.rki.de/item/resource-type-general-13": {
        "de": "Datensammlung",
        "en": "Data collection"
    },
    "https://mex.rki.de/item/resource-type-general-14": {
        "de": "Datensatz",
        "en": "Dataset"
    },
    "https://mex.rki.de/item/resource-type-general-15": {
        "de": "Text",
        "en": "Text"
    },
    "https://mex.rki.de/item/resource-type-general-16": {
        "de": "Abbildung",
        "en": "Image"
    },
    "https://mex.rki.de/item/resource-type-general-17": {
        "de": "Softwarecode",
        "en": "Software code"
    },
    "https://mex.rki.de/item/resource-type-general-18": {
        "de": "Sonstige",
        "en": "Other"
    },
    "https://mex.rki.de/item/anonymization-pseudonymization-1": {
        "de": "anonymisiert",
        "en": "anonymized"
    },
    "https://mex.rki.de/item/anonymization-pseudonymization-2": {
        "de": "pseudonymisiert",
        "en": "pseudonymized"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-1": {
        "de": "Buch",
        "en": "Book"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-2": {
        "de": "Buchkapitel",
        "en": "Book chapter"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-3": {
        "de": "Konferenzbeitrag",
        "en": "Conference Paper"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-4": {
        "de": "Dissertation",
        "en": "Doctoral thesis"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-5": {
        "de": "Habilitationsschrift",
        "en": "Habilitation thesis"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-6": {
        "de": "Zeitschrift",
        "en": "Journal"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-7": {
        "de": "Zeitschriftenartikel",
        "en": "Journal Article"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-8": {
        "de": "Andere",
        "en": "Other"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-9": {
        "de": "Poster",
        "en": "Poster"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-10": {
        "de": "Preprint",
        "en": "Preprint"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-11": {
        "de": "Pr\u00e4sentation",
        "en": "Presentation"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-12": {
        "de": "Report",
        "en": "Bericht"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-13": {
        "de": "Studienarbeit",
        "en": "Seminar paper"
    },
    "https://mex.rki.de/item/bibliographic-resource-type-14": {
        "de": "Abschlussarbeit",
        "en": "Thesis"
    },
    "https://mex.rki.de/item/access-restriction": null,
    "https://mex.rki.de/item/activity-type": null,
    "https://mex.rki.de/item/anonymization-pseudonymization": null,
    "https://mex.rki.de/item/api-type": null,
    "https://mex.rki.de/item/bibliographic-resource-type": null,
    "https://mex.rki.de/item/consent-status": {
        "description": {
            "de": "Dieses Vokabular basiert auf dem W3C Standard DPV, Data Privacy Vocabulary, verf\u00fcgbar unter https://w3c.github.io/dpv/2.0/dpv/. Insbesondere auf der Klasse dpv:ConsentStatus und deren Subklassen.",
            "en": "This vocabulary is based of the W3C Standard DPV, Data Privacy Vocabulary, avaiable at https://w3c.github.io/dpv/2.0/dpv/. Specifically dpv:ConsentStatus and its subclasses."
        },
        "label": "Consent status vocabulary"
    },
    "https://mex.rki.de/item/consent-type": {
        "description": {
            "de": "Dieses Vokabular basiert auf dem W3C Standard DPV, Data Privacy Vocabulary, verf\u00fcgbar unter https://w3c.github.io/dpv/2.0/dpv/. Insbesondere auf der Klasse dpv:Consent und deren Subklassen.",
            "en": "This vocabulary is based of the W3C Standard DPV, Data Privacy Vocabulary, avaiable at https://w3c.github.io/dpv/2.0/dpv/. Specifically dpv:Consent and its subclasses."
        },
        "label": "Consent type vocabulary"
    },
    "https://mex.rki.de/item/data-processing-state": null,
    "https://mex.rki.de/item/frequency": {
        "description": {
            "de": "Dieses Vokabular basiert auf dem Dublin Core Collection Description Frequency Vokabular, verf\u00fcgbar unter https://www.dublincore.org/specifications/dublin-core/collection-description/frequency/.",
            "en": "This vocabulary is based on the Dublin Core Collection Description Frequency Vocabulary, available at https://www.dublincore.org/specifications/dublin-core/collection-description/frequency/."
        },
        "label": "Frequency vocabulary"
    },
    "https://mex.rki.de/item/language": null,
    "https://mex.rki.de/item/license": {
        "description": {
            "de": "Dieses Vokabular enth\u00e4lt g\u00e4ngige Lizenzen.",
            "en": "This vocabulary contains established licenses."
        },
        "label": "License vocabulary"
    },
    "https://mex.rki.de/item/mime-type": {
        "description": {
            "de": "Dieses Vokabular basiert auf dem IANA-Vokabular f\u00fcr Medientypen, verf\u00fcgbar unter https://www.iana.org/assignments/media-types/media-types.xhtml",
            "en": "This vocabulary is based on the IANA media types vocabulary, available at https://www.iana.org/assignments/media-types/media-types.xhtml"
        },
        "label": "MIME type vocabulary based on IANA media types"
    },
    "https://mex.rki.de/item/personal-data": null,
    "https://mex.rki.de/item/resource-creation-method": null,
    "https://mex.rki.de/item/resource-type-general": null,
    "https://mex.rki.de/item/technical-accessbility": null,
    "https://mex.rki.de/item/theme": {
        "description": {
            "de": "Dieses Vokabular stellt RKI-spezifische Themen und Inhalte zusammen.",
            "en": "This vocabulary compiles RKI-specific topics and themes."
        },
        "label": "Theme vocabulary"
    },
    "https://mex.rki.de/item/frequency-1": {
        "de": "dreij\u00e4hrlich",
        "en": "triennial"
    },
    "https://mex.rki.de/item/frequency-2": {
        "de": "zweij\u00e4hrlich",
        "en": "biennial"
    },
    "https://mex.rki.de/item/frequency-3": {
        "de": "j\u00e4hrlich",
        "en": "annual"
    },
    "https://mex.rki.de/item/frequency-4": {
        "de": "halbj\u00e4hrlich",
        "en": "semiannual"
    },
    "https://mex.rki.de/item/frequency-5": {
        "de": "dreimal im Jahr",
        "en": "three times a year"
    },
    "https://mex.rki.de/item/frequency-6": {
        "de": "viertelj\u00e4hrlich",
        "en": "quarterly"
    },
    "https://mex.rki.de/item/frequency-7": {
        "de": "zweimonatlich",
        "en": "bimonthly"
    },
    "https://mex.rki.de/item/frequency-8": {
        "de": "monatlich",
        "en": "monthly"
    },
    "https://mex.rki.de/item/frequency-9": {
        "de": "halbmonatlich",
        "en": "semimonthly"
    },
    "https://mex.rki.de/item/frequency-10": {
        "de": "zweiw\u00f6chentlich",
        "en": "biweekly"
    },
    "https://mex.rki.de/item/frequency-11": {
        "de": "dreimal im Monat",
        "en": "three times a month"
    },
    "https://mex.rki.de/item/frequency-12": {
        "de": "w\u00f6chentlich",
        "en": "weekly"
    },
    "https://mex.rki.de/item/frequency-13": {
        "de": "halbw\u00f6chentlich",
        "en": "semiweekly"
    },
    "https://mex.rki.de/item/frequency-14": {
        "de": "dreimal in der Woche",
        "en": "three time a week"
    },
    "https://mex.rki.de/item/frequency-15": {
        "de": "t\u00e4glich",
        "en": "daily"
    },
    "https://mex.rki.de/item/frequency-16": {
        "de": "andauernd",
        "en": "continuous"
    },
    "https://mex.rki.de/item/frequency-17": {
        "de": "unregelm\u00e4\u00dfig",
        "en": "irregular"
    },
    "https://mex.rki.de/item/consent-status-1": {
        "de": "Prozessieren unzul\u00e4ssig",
        "en": "Invalid for Processing"
    },
    "https://mex.rki.de/item/consent-status-2": {
        "de": "Prozessieren zul\u00e4ssig",
        "en": "Valid for Processing"
    },
    "https://mex.rki.de/item/data-processing-state-1": {
        "de": "Rohdaten",
        "en": "Raw data"
    },
    "https://mex.rki.de/item/data-processing-state-2": {
        "de": "Sekund\u00e4rdaten",
        "en": "Secondary data"
    },
    "https://mex.rki.de/item/data-processing-state-3": {
        "de": "aggregiert",
        "en": "aggregated"
    },
    "https://mex.rki.de/item/data-processing-state-4": {
        "de": "Plausibilit\u00e4tskontrolle",
        "en": "plausibility checked"
    },
    "https://mex.rki.de/item/data-processing-state-5": {
        "de": "standardisiert",
        "en": "normalized"
    },
    "https://mex.rki.de/item/technical-accessibility-1": {
        "de": "intern",
        "en": "internal"
    },
    "https://mex.rki.de/item/technical-accessibility-2": {
        "de": "extern",
        "en": "external"
    },
    "https://mex.rki.de/item/theme-1": {
        "de": "Public Health",
        "en": "Public Health"
    },
    "https://mex.rki.de/item/theme-11": {
        "de": "Infektionskrankheiten und -epidemiologie",
        "en": "Infectious Diseases and Epidemiology"
    },
    "https://mex.rki.de/item/theme-20": {
        "de": "Pathogeneseforschung und Diagnostikentwicklung",
        "en": "Pathogenesis Research and Diagnostic Development"
    },
    "https://mex.rki.de/item/theme-21": {
        "de": "Allgemeine Mikrobiologie und Molekularbiologie",
        "en": "General Microbiology and Molecular Biology"
    },
    "https://mex.rki.de/item/theme-22": {
        "de": "Forschung und Diagnostik zu biologischen Toxinen",
        "en": "Biological Toxin Research and Diagnostics"
    },
    "https://mex.rki.de/item/theme-23": {
        "de": "Bioinformatik und Systembiologie",
        "en": "Bioinformatics and Systems Biology"
    },
    "https://mex.rki.de/item/theme-24": {
        "de": "Tierexperimentelle Forschung und 3R",
        "en": "Animal Experimental Research and 3R"
    },
    "https://mex.rki.de/item/theme-25": {
        "de": "K\u00fcnstliche Intelligenz und Maschinelles Lernen",
        "en": "Artificial Intelligence and Machine Learning"
    },
    "https://mex.rki.de/item/theme-36": {
        "de": "Nicht-\u00fcbertragbare Krankheiten und Gesundheitsmonitoring",
        "en": "Non-Communicable Diseases and Health Surveillance"
    },
    "https://mex.rki.de/item/theme-37": {
        "de": "Internationaler Gesundheitsschutz",
        "en": "International Health Protection"
    },
    "https://mex.rki.de/item/api-type-1": {
        "de": "REST",
        "en": "REST"
    },
    "https://mex.rki.de/item/api-type-2": {
        "de": "SOAP",
        "en": "SOAP"
    },
    "https://mex.rki.de/item/api-type-3": {
        "de": "SPARQL endpoint",
        "en": "SPARQL endpoint"
    },
    "https://mex.rki.de/item/api-type-4": {
        "de": "propriet\u00e4r",
        "en": "proprietary"
    },
    "https://mex.rki.de/item/api-type-5": {
        "de": "RPC",
        "en": "RPC"
    },
    "https://mex.rki.de/item/api-type-6": {
        "de": "GraphQL",
        "en": "GraphQL"
    },
    "https://mex.rki.de/item/api-type-7": {
        "de": "Sonstige",
        "en": "Other"
    },
    "https://mex.rki.de/item/personal-data-1": {
        "de": "Personenbezogene Daten",
        "en": "Personal data"
    },
    "https://mex.rki.de/item/personal-data-2": {
        "de": "Keine personenbezogenen Daten",
        "en": "No personal data"
    },
    "https://mex.rki.de/item/license-1": {
        "de": "Creative Commons Namensnennung 4.0 International",
        "en": "Creative Commons Attribution 4.0 International"
    },
    "https://mex.rki.de/item/resource-creation-method-1": {
        "de": "Sonstige",
        "en": "Other"
    },
    "https://mex.rki.de/item/resource-creation-method-2": {
        "de": "Studien, Umfragen und Interviews",
        "en": "Studies, surveys and interviews"
    },
    "https://mex.rki.de/item/resource-creation-method-3": {
        "de": "Surveillance",
        "en": "Surveillance"
    },
    "https://mex.rki.de/item/resource-creation-method-4": {
        "de": "Labortests",
        "en": "Laboratory tests"
    },
    "https://mex.rki.de/item/resource-creation-method-5": {
        "de": "Sequenzierung",
        "en": "Sequencing"
    },
    "https://mex.rki.de/item/resource-creation-method-6": {
        "de": "Register",
        "en": "Registry"
    },
    "https://mex.rki.de/item/resource-creation-method-7": {
        "de": "Modelle und Simulationen",
        "en": "Models and simulations"
    },
    "https://mex.rki.de/item/activity-type-1": {
        "de": "Drittmittelprojekt",
        "en": "Third Party funded Project"
    },
    "https://mex.rki.de/item/activity-type-3": {
        "de": "Hausinternes Projekt/Vorhaben",
        "en": "Internal project/endeavor"
    },
    "https://mex.rki.de/item/activity-type-6": {
        "de": "Sonstige",
        "en": "Other"
    }
} %}