@import "definitions.less";

@white: #ffffff;
@black: @core-color-black-default;
@blue: #2478C5;
@green: #40d9b7;
@red: #ff4545;
@yellow: #f5e601;

@primaryColor: @core-color-brand-default;
@navbarBackgroundColor: @primaryColor;
@navbarBackgroundImage: None;
@frontendHeaderBackgroundColor: @core-color-accent-2-default;
@searchButtonColor: lighten(@core-color-blue-default, 5%);
@searchButtonColorHover: @core-color-blue-default;
@searchButtonColorTextColor: @core-color-black-default;
